body {
	background-color: #E7EBE0FF !important;
}

.card-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.single-card {
	margin: 20px;
	width: 18rem;
}

.searchBox {
	text-align: center;
	margin-top: 100px;
}